<h1>Spot #<%=@spot.id%></h1>

<% if is_admin? && !@spot.user_id %>
   <h2>Spot Available!</h2>
   <h3>Add Owner?</h3>
   <form action="/spots/<%=@spot.id%>" method="POST">
   <input id="hidden" type="hidden" name="_method" value="PATCH">
      <% @users.each do |user| %>
      <p><label for="user"><%=user.name%></label> <input id="<%= user.name %>" type="checkbox" name="user" value="<%= user.id %>"></p>
      <% end %>                                                         
      <br>  
      <input type="submit" value="Update Spot">
   </form>

<% elsif is_admin? && @spot.user_id%>

<h2> This spot is currently owned by <%=@spot.user.name%> from <%=@spot.user.apartment%>. </h3>
<p><a href="/users/<%=@spot.user.id%>" class="btn btn-primary btn-sm">See owner information</a></p>

<form action="/spots/<%=@spot.id%>/unassign" method="post">
   <input type="hidden" name="_method" value="patch">
   <input type="submit"  class="btn btn-primary btn-sm" value="Unassign Ownership">
</form>

<% else %>

   <h2> Please check <a href = '/spots'>available spots</a> and contact your building manager!</h2>

<% end %>
