<h1>Spot #<%=@spot.id%></h1>

<% if !@spot.user_id %>
 <h2>Spot Available!</h2>
 <h3>Add Owner?</h3>

 <form action="/spots/<%=@spot.id%>" method="POST">
 <input id="hidden" type="hidden" name="_method" value="PATCH">
    <% @users.each do |user| %>
    <p><label for="user"><%=user.name%></label> <input id="<%= user.name %>" type="checkbox" name="user" value="<%= user.id %>"></p>
    <% end %>                                                         
    <br>  
    <input type="submit" value="Update Spot">
 </form>


<% end %>
