
<h2><%=@user.name%> from <%=@user.apartment%></h2>
<br>

<h3>Registered bike(s):</h3>
<ol>
<% @user.bikes.each do |bike|%>
    <li><%= bike.model%> - <%=bike.description %>
    <a href="/bikes/<%=bike.id%>/edit" class="btn btn-primary btn-sm">Edit Bike</a></li>
    <br>
    <% end %>
</ol>
<h3>Current spot(s):</h3>

<h4><a href="/bikes/new">Add Bike</a></h4>