<h1>Bike details</h1>



<h3>Belongs to: <%= @bike.user.name %> from <%= @bike.user.apartment %> </h3>
<h3>Model: <%= @bike.model %></h3>
<h3>Description: <%= @bike.description%></h3>
<h4>Possible Spot(s): <ul><% @user.spots.each do |spot|%>
    <li><%= spot.id %></li>
    <% end %></h4></ul>

<% if current_user == @bike.user || is_admin? %>
    <br>
        <a href="/bikes/<%=@bike.id%>/edit" class="btn btn-primary btn-sm">Edit Bike</a>
    <br>
    <br>

    <form action="/bikes/<%=@bike.id%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit"  class="btn btn-primary btn-sm" value="Delete Bike">
    </form>
<% end %>