<h2>Bike details</h2>



<h4>Belongs to: <%= @bike.user.name %> from <%= @bike.user.apartment %> </h4>
<h4>Model: <%= @bike.model %></h4>
<h4>Description: <%= @bike.description%></h4>
<% if @user.spots.size != 0 %>
    <h4>Possible Spot(s): <ul><% @user.spots.each do |spot|%>
        <li><%= spot.id %></li>
        <% end %></h4></ul>
<% else %>
    <h4>Owner has no current designated spot(s)</h4>
<% end %>

<% if current_user == @bike.user || is_admin? %>
    <br>
        <a href="/bikes/<%=@bike.id%>/edit" class="btn btn-primary btn-sm">Edit Bike</a>
    <br>
    <br>

    <form action="/bikes/<%=@bike.id%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit"  class="btn btn-primary btn-sm" value="Delete Bike">
    </form>
<% end %>